/*
0-340px:        Phone-small
341-375px:      Iphone-x
376-576px:      Phone-medium
577-767px:      Phone-large
768-991px:      Tablet
992-1024px:     Ipad-pro
1025-1200px:    Tab-land
[1200-1800px:]  is where our normal styles apply
1800px + :      Big Desktop
*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.food_delivery_schedule .food_delivery_schedule_inner_wrapp {
  border: 1px solid #dee2e6; }
  .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col {
    padding: 0; }
    .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_header {
      padding: 15px 0;
      border-bottom: 1px solid #dee2e6; }
    .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content {
      padding: 20px;
      border-right: 1px solid #dee2e6; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch {
        position: relative;
        width: 100%; }
        .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch .onoffswitch-checkbox {
          position: absolute;
          opacity: 0;
          pointer-events: none; }
        .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch .onoffswitch-label {
          display: block;
          overflow: hidden;
          cursor: pointer;
          border: 2px solid #999999;
          border-radius: 20px; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-inner:before,
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #34A7C1;
        color: #FFFFFF; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-switch {
        display: block;
        width: 18px;
        margin: 6px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 88px;
        border: 2px solid #999999;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; }
      .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .food_delivery_items {
        margin-top: 10px; }
        .food_delivery_schedule .food_delivery_schedule_inner_wrapp .col .food_delivery_column .food_delivery_content .food_delivery_items .food_delivery_item {
          padding-top: 5px; }

button:focus {
  outline: none !important;
  box-shadow: none !important; }
