.availability_schedule {
    .availability_schedule_inner_wrapp {
        border: 1px solid #dee2e6;
        border-right: 0;
        position: relative;

        .availability_shedule_left_arrow {
            i {
                position: absolute;
                top: calc(0% + 25px);
                left: calc(0% - 25px);
                font-size: 25px;
                cursor: pointer;
                color: #dee2e6;
            }
        }

        .availability_shedule_right_arrow {
            i {
                position: absolute;
                top: calc(0% + 25px);
                right: calc(0% - 25px);
                font-size: 25px;
                cursor: pointer;
                color: #dee2e6;
            }
        }

        .col {
            padding: 0;
            border-right: 1px solid #dee2e6;

            .availability_column {

                .availability_header {
                    padding: 15px 0;
                    border-bottom: 1px solid #dee2e6;
                }

                .availability_content {
                    padding: 20px;

                    .availability_items {
                        margin-top: 10px;
                        display: none;
                        .availability_item {
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }

}

button {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}